In [1]:
import os

In [2]:
%pwd

'/Users/revanth_reddy/Desktop/AskmeOffers_Coupuon_Acceptance_Analysis_and_Prediction_with_MLOps(Mlflow)/research'

In [3]:
os.chdir("../")

In [4]:
%pwd

'/Users/revanth_reddy/Desktop/AskmeOffers_Coupuon_Acceptance_Analysis_and_Prediction_with_MLOps(Mlflow)'

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("artifacts/data_ingestion/df_encoded.csv")
data.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,has_children,education,income,Y,to_Coupon,coupon_freq,occupation_class
0,2.0,1.0,2.0,1.0,2.0,3.0,1.0,0.0,1.0,3.0,1,2.0,3.0,1,0,3.0,1
1,2.0,3.0,2.0,2.0,1.0,2.0,0.0,0.0,1.0,3.0,1,2.0,3.0,0,0,0.0,1
2,2.0,3.0,2.0,2.0,1.0,4.0,0.0,0.0,1.0,3.0,1,2.0,3.0,1,1,2.0,1
3,2.0,3.0,2.0,2.0,2.0,2.0,0.0,0.0,1.0,3.0,1,2.0,3.0,0,1,0.0,1
4,2.0,3.0,2.0,2.0,2.0,2.0,1.0,0.0,1.0,3.0,1,2.0,3.0,0,1,0.0,1

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12610 entries, 0 to 12609
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   destination       12610 non-null  float64
 1   passanger         12610 non-null  float64
 2   weather           12610 non-null  float64
 3   temperature       12610 non-null  float64
 4   time              12610 non-null  float64
 5   coupon            12610 non-null  float64
 6   expiration        12610 non-null  float64
 7   gender            12610 non-null  float64
 8   age               12610 non-null  float64
 9   maritalStatus     12610 non-null  float64
 10  has_children      12610 non-null  int64
 11  education         12610 non-null  float64
 12  income            12610 non-null  float64
 13  Y                 12610 non-null  int64
 14  to_Coupon         12610 non-null  int64
 15  coupon_freq       12610 non-null  float64
 16  occupation_class  12610 non-null  int64
dtypes: float64(13), int64(4)
memory usage: 1.6 MB

In [8]:
data.isnull().sum()

destination         0
passanger           0
weather             0
temperature         0
time                0
coupon              0
expiration          0
gender              0
age                 0
maritalStatus       0
has_children        0
education           0
income              0
Y                   0
to_Coupon           0
coupon_freq         0
occupation_class    0
dtype: int64

In [9]:
data.shape

(12610, 17)

In [10]:
data.columns

Index(['destination', 'passanger', 'weather', 'temperature', 'time', 'coupon',
       'expiration', 'gender', 'age', 'maritalStatus', 'has_children',
       'education', 'income', 'Y', 'to_Coupon', 'coupon_freq',
       'occupation_class'],
      dtype='object')

In [11]:
from dataclasses import dataclass
from pathlib import Path


@dataclass(frozen=True)
class DataValidationConfig:
    root_dir: Path
    STATUS_FILE: str
    unzip_data_dir: Path
    all_schema: dict

In [12]:
from mlProject.constants import *
from mlProject.utils.common import read_yaml, create_directories

In [13]:
class ConfigurationManager:
    def __init__(
        self,
        config_filepath = CONFIG_FILE_PATH,
        params_filepath = PARAMS_FILE_PATH,
        schema_filepath = SCHEMA_FILE_PATH):

        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)

        create_directories([self.config.artifacts_root])


    
    def get_data_validation_config(self) -> DataValidationConfig:
        config = self.config.data_validation
        schema = self.schema.COLUMNS

        create_directories([config.root_dir])

        data_validation_config = DataValidationConfig(
            root_dir=config.root_dir,
            STATUS_FILE=config.STATUS_FILE,
            unzip_data_dir = config.unzip_data_dir,
            all_schema=schema,
        )

        return data_validation_config

In [14]:
import os
from mlProject import logger

In [15]:
class DataValiadtion:
    def __init__(self, config: DataValidationConfig):
        self.config = config


    def validate_all_columns(self)-> bool:
        try:
            validation_status = None

            data = pd.read_csv(self.config.unzip_data_dir)
            all_cols = list(data.columns)

            all_schema = self.config.all_schema.keys()

            
            for col in all_cols:
                if col not in all_schema:
                    validation_status = False
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")
                else:
                    validation_status = True
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")

            return validation_status
        
        except Exception as e:
            raise e

In [17]:
try:
    config = ConfigurationManager()
    data_validation_config = config.get_data_validation_config()
    data_validation = DataValiadtion(config=data_validation_config)
    data_validation.validate_all_columns()
except Exception as e:
    raise e

[2024-05-10 21:17:25,088: INFO: common: yaml file: config/config.yaml loaded successfully]
[2024-05-10 21:17:25,090: INFO: common: yaml file: params.yaml loaded successfully]
[2024-05-10 21:17:25,092: INFO: common: yaml file: schema.yaml loaded successfully]
[2024-05-10 21:17:25,093: INFO: common: created directory at: artifacts]
[2024-05-10 21:17:25,093: INFO: common: created directory at: artifacts/data_validation]